h1 {
  color: antiquewhite;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'nuevaFuente';
  src: url('recursos/m6x11.ttf') format('truetype');
}

@media (max-width: 768px) {
  .sidebar {
      width: 30vw;
  }

  .contenedorPuntaje p {
      font-size: 2.5vw;
  }
}

body {
  font-family: 'nuevaFuente', serif;
  background-image: url("recursos/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  background-color: #2F3A3C;
  color: white;
  box-shadow: 1px 0 #A16E00, 2px 0 #A26D00, 3px 0 #A56D00;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  padding-top: 10px;
  margin-right: 5vw;
}


.logo {
  width: 95%;
  height: auto;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  image-rendering: pixelated;
  aspect-ratio: 95 /18;

}

.logo img {
  width: 100%;
  height: 100%;
}

.contenedorCiega {
  width: 95%;
  height: 13%;
  background-color: #182325;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
  box-shadow: 0 1px #000A0C, 0 2px #000608, 0 3px #0A1517;
  display: flex;
  align-items: center;
  gap: 1em;
}

/* cada ciega para abajo es aprox 3.35*/
.Ciega {
  width: 20%;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  background-image: url('recursos/blinds.png');
  background-size: 2142% 3162%;
  background-position: 0 3.35%;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;
  height: auto;
}


.contenedorPuntaje {
  font-size: 150%;
  width: 95%;
  height: auto;
  background-color: #182325;
  border-radius: 10px;
  text-align: left;
  padding: 0.5em 1em;
  box-sizing: border-box;
  box-shadow: 0 1px #000A0C, 0 2px #000608, 0 3px #0A1517;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}


.contenedorPuntaje .miniContenedor {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #2F3A3C;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorPuntaje .miniContenedor .puntaje {
  background-color: red;
  width: 80%;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  margin: 5%;
}


.contenedorMano {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 95%;
  height: auto;
  background-color: #182325;
  border-radius: 10px;
  text-align: center;
  padding: 5%;
  box-sizing: border-box;
  box-shadow: 0 1px #000A0C, 0 2px #000608, 0 3px #0A1517;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  flex-wrap: nowrap;
  overflow: clip;
}

.contenedorMano .contenedorFichas {
  width: 40%;
  height: 80%;
  background-color: #0092FF;
  border-radius: 10px;
  text-align: right;
  padding: 3%;
  box-sizing: border-box;
  box-shadow: 0 1px #0171D1, 0 2px #0D529D, 0 3px #0061C1, 0 4px #0057A0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;

}

.contenedorMano .contenedorMulti {
  width: 40%;
  height: 80%;
  background-color: #FF4A40;
  border-radius: 10px;
  text-align: left;
  padding: 3%;
  box-sizing: border-box;
  box-shadow: 0 1px #F33D38, 0 2px #B02B1F, 0 3px #AF2E1B, 0 4px #7A2D20;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#mano {
  font-size: 2.8vw;
}

#ficha {
  font-size: 3vw;
}

#multi {
  font-size: 3vw;
}

#LaEquis {

  font-size: 3vw;
  color: #FF4A45;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.grupoContenedores {
  display: flex;
  gap: 5%;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  margin: 1%;
}


/* Cada icono tiene 67 widthx66height px  o 18% en width */

.botonJokerTag {
  background-color: transparent;
  width: 5vw;
  height: 5vw;
  background-image: url('recursos/tags.png');
  background-position: 0 0;
  background-size: 612% 510%;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;
}

.botonPlanetaTag {
  background-color: transparent;
  width: 5vw;
  height: 5vw;
  background-image: url('recursos/tags.png');
  background-position: 60% 50%;
  background-size: 612% 510%;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;

}

.botonAutoManoTag {
  background-color: transparent;
  width: 5vw;
  height: 5vw;
  background-image: url('recursos/tags.png');
  background-position: 80% 75%;
  background-size: 612% 510%;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;

}


.botonMejorManoTag {
  background-color: transparent;
  width: 5vw;
  height: 5vw;
  background-image: url('recursos/tags.png');
  background-position: 20% 75%;
  background-size: 612% 510%;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;

}

.botonEliminarTag {
  background-color: transparent;
  width: 5vw;
  height: 5vw;
  background-image: url('recursos/tags.png');
  background-position: 40% 75%;
  background-size: 612% 510%;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;

}

.contenedorBotonesTag {
  width: 95%;
  height: auto;
  background-color: transparent;
  padding: 2%;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 10px;
}


.contenedorBottom {
  background-color: transparent;
  position: fixed;
  width: 70vw;
  height: 20.5vh;
  bottom: 5%;
  left: 62%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
}

/* intentnar con 20.5 o 15 el height */
.contenedorCartas1 {
  background-color: rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 0.5%;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.contenedorCartas1 {
  scroll-snap-type: x mandatory;
}

.contenedorCartas1 .miniContenedor {
  scroll-snap-align: center;
}

.contenedorCartas1::-webkit-scrollbar {
  height: 8px;
}

.contenedorCartas1::-webkit-scrollbar-track {
  background: transparent;
}

.contenedorCartas1::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.contenedorCartas1::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.contenedorCartas2 {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  aspect-ratio: 71/95;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.contenedorJokers {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 70vw;
  height: 20vh;
  top: 1%;
  left: 62%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
}


/* width = 142 px y height = 188px */
.Baraja {
  background-color: transparent;
  width: 100%;
  height: 100%;
  background-image: url('recursos/fondosYBarajas.png');
  background-position: 66.8% 0%;
  background-size: 700% 500%;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;
}

.contenedorCartasParaJugar {

  position: fixed;
  background-color: #1E2B2D;
  width: 90.5vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 0 #A16E00, 2px 0 #A26D00, 3px 0 #A56D00;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  padding: 1%;
}


.carta {
  margin: 0;
  width: 100%;
  height: auto;
  background-image: url('recursos/cartastest.png'), url(recursos/fondosYBarajas.png);
  background-repeat: no-repeat;
  background-size: 1300% 400%, 700% 500%;
  display: inline-block;
  cursor: pointer;
  image-rendering: pixelated;
  aspect-ratio: 71 / 95;
}

.carta:hover {
  border: 1px solid red;
}


.cartaJugada {
  font-family: 'nuevaFuente', serif;
  position: fixed;
  width: 50vw;
  height: 60vh;
  background-color: #3A5055;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #6B7D86, 0 0 2px 2px #B9C2D2, 0 0 3px 3px #B9C2D2, 0 0 4px 4px #ABB4C2;
}

.cartaJugada .miniContenedor {
  position: fixed;
  width: 16vw;
  height: auto;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: #1E2B2D;
  border-radius: 10px;
  box-shadow: 0 1px #0B1415, 0 2px #0B1415, 0 3px #0D1718, 0 4px #243437;
  aspect-ratio: 71 / 95;
}


.cartaJugada .contenedorCarta {
  position: fixed;
  width: 15vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3A5055;
  border-radius: 10px;
  box-shadow: 0 1px #304347, 0 2px #1E2B2D, 0 3px #1E2B2D;
  aspect-ratio: 71 / 95;
}

.cartaJugada .contenedorCarta2 {
  position: fixed;
  width: 14vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1E2B2D;
  border-radius: 10px;
  border: none;
  aspect-ratio: 71 / 95;
}


.cartaJugada .botonAtras {
  font-family: 'nuevaFuente', serif;
  font-size: clamp(5%, 100%, 2.5rem);
  color: #FFFFFF;
  position: fixed;
  width: 5vw;
  height: 5vh;
  top: 88%;
  left: 4%;
  background-color: #FF9800;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  box-shadow: 0 1px #F09100, 0 2px #A76E0F, 0 3px #1E2E32, 0 4px #2E4145;
  cursor: pointer;
  text-shadow: 0 1px #F8F0E1, 0 2px #C28C43, 0 3px #B06500;

}

.cartaJugada .botonAtras:hover {
  background-color: #A05B00;
  text-shadow: 0 1px #E5DBCE, 0 2px #754917, 0 3px #6B3900;
  box-shadow: 0 1px #9B5900, 0 2px #855205, 0 3px #2A322D, 0 4px #1E2E32;
}

.cartaJugada .botonJugarCarta {
  font-family: 'nuevaFuente', serif;
  font-size: clamp(5%, 100%, 2.5rem);
  color: #FFFFFF;
  position: fixed;
  width: 35vw;
  height: 5vh;
  top: 88%;
  left: 16%;
  background-color: #FF9800;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  box-shadow: 0 1px #F09100, 0 2px #A76E0F, 0 3px #1E2E32, 0 4px #2E4145;
  cursor: pointer;
  text-shadow: 0 1px #F8F0E1, 0 2px #C28C43, 0 3px #B06500;
}

.cartaJugada .botonJugarCarta:hover {
  background-color: #A05B00;
  text-shadow: 0 1px #E5DBCE, 0 2px #754917, 0 3px #6B3900;
  box-shadow: 0 1px #9B5900, 0 2px #855205, 0 3px #2A322D, 0 4px #1E2E32;
}

.cartaJugada .botonEliminarCarta {
  font-family: 'nuevaFuente', serif;
  font-size: clamp(5%, 100%, 2.5rem);
  color: #FFFFFF;
  position: fixed;
  width: 5vw;
  height: 5vh;
  border-radius: 10px;
  top: 88%;
  right: 2%;
  background-color: #FF4C40;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 1px #EA493F, 0 2px #EA493F, 0 3px #493434;
  border: none;
  cursor: pointer;
  text-shadow: 0 1px #DDA7A3, 0 2px #BF5D56, 0 3px #BF5D56;
}

.cartaJugada .botonEliminarCarta:hover {
  background-color: #A02721;
  text-shadow: 0 1px #AD7E7B, 0 2px #69130E, 0 3px #731611;
  box-shadow: 0 1px #952822, 0 2px #572B2A, 0 3px #1E2E32;
}


.cartaJugada .contenedorBotones {
  background-color: transparent;
  width: 10vw;
  height: 45vh;
  top: 0;
  left: 55%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  gap: 5vh;
  padding: 1em;
}

.contenedorBotones .tipoCarta {
  font-family: 'nuevaFuente', serif;
  font-size: clamp(5%, 3vw, 2.5rem);;
  background-color: #4C6367;
  border: none;
  border-radius: 10px;
  width: fit-content;
  height: 5.5vh;
  box-shadow: 0 1px #4B6266, 0 2px #455B60, 0 3px #223337;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  text-shadow: 0 1px #939B9D, 0 2px #2C3C40, 0 3px #304145;
  white-space: nowrap;
}

.contenedorBotones .tipoCarta:hover {
  background-color: #27373A;
  text-shadow: 0 1px #B3B7B7, 0 2px #121D1E, 0 3px #131E1F;
  box-shadow: 0 1px #27373A, 0 2px #273739, 0 3px #223235;
}

/* cada carta 8.35% y   33.05%  pero tmb puede ser 33.5 probar con ambas no olvidar*/
/*            ;
*/
.cartaJugada .test {
  width: 100%;
  height: auto;
  background-image: url(recursos/fondosYBarajas.png), url('recursos/cartastest.png'), url(recursos/fondosYBarajas.png);
  background-repeat: no-repeat;
  background-size: 700% 500%, 1300% 400%, 700% 500%;
  background-color: transparent;
  border: none;
  image-rendering: pixelated;
  aspect-ratio: 71 / 95;
}


.contenedorCartas1 .miniContenedor {
  height: 100%;
  aspect-ratio: 71/95;
  background-color: transparent;
  flex-shrink: 0
}

.contenedorCartas1 .test {
  width: 100%;
  height: 100%;
  background-image: url(recursos/fondosYBarajas.png), url('recursos/cartastest.png'), url(recursos/fondosYBarajas.png);
  background-repeat: no-repeat;
  background-size: 700% 500%, 1300% 400%, 700% 500%;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
  image-rendering: pixelated;
}


#contenedorBotones2 {
  position: fixed;
  width: 25vw;
  height: 45vh;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #0B1415;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  padding: 10px;
  box-sizing: border-box;
  grid-auto-rows: auto;
  place-items: center;
  overflow: auto;
}

#contenedorBotones2 .miniContenedor2 {
  background-color: #27373A;
  height: 50%;
  aspect-ratio: 71 / 95;
}


#contenedorBotones2 .test {
  width: 100%;
  aspect-ratio: 71/95;
  background-image: url(recursos/fondosYBarajas.png), url('recursos/cartastest.png'), url(recursos/fondosYBarajas.png);
  background-repeat: no-repeat;
  background-size: 700% 500%, 1300% 400%, 700% 500%;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
  image-rendering: pixelated;
}